#names{
text-align: center;

}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkorange;
    font-size: 18px;
}

.A{
position: absolute;
left: 20px;

}

#formA{
    position: relative;
    top: 2cm;
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.B{
position: absolute;
left: 150px;

}

#formB{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
left: 26px;
top: 2cm;
}

.C{

position: absolute;
left: 300px;
}

#formC{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
left: 86px;
top: 2cm;
}

.D{
position: absolute;
left: 450px;
}

#formD{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
left: 154px;
top: 2cm;
}

.E{
    position: absolute;
    left: 600px;
}

#formE{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
left: 212px;
top: 2cm;
}


.F{
position: absolute;
left: 750px;
}

#formF{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
left: 280px;
top: 2cm;
}




.G{
position: absolute;
left: 900px;

}

#formG{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
left: 355px;
top: 2cm;
}


.H{
position: absolute;
left: 1050px;
}

#formH{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
left: 415px;
top: 2cm;
}


.I{
position: absolute;
left: 1200px;

}

#formI{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
left: 475px;
top: 2cm;
}

.J{
position: absolute;
left: 1315px;
}

#formJ{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
left: 490px;
top: 2cm;}

.K{
position: absolute;
bottom: 340px;

}

#formK{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
right: 870px;
top: 5.3cm;}

.L{
position: absolute;
bottom: 340px;
left: 150px;

}

#formL{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
right: 825px;
top: 5.3cm;}


.M{
position: absolute;
bottom: 340px;
left: 300px;

}

#formM{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
right: 770px;
top: 5.3cm;}



.N{
position: absolute;
bottom: 340px;
left: 450px;

}

#formN{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
right: 710px;
top: 5.3cm;}



.O{
position: absolute;
bottom: 340px;
left: 600px;

}

#formO{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
right: 650px;
top: 5.3cm;}



.V{
 position: absolute;
bottom: 340px;
left: 750px;

}

#formV{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
left: 720px;
top: 4.2cm;
}



.P{
position: absolute;

bottom: 340px;
left: 900px;
}
#formP{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
left: 790px;
top: 4.2cm;}


.Q{
position: absolute;

bottom: 340px;
left: 1050px;
}

#formQ{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
left: 845px;
top: 4.2cm;}




.R{
position: absolute;
bottom: 340px;
left: 1200px;

}

#formR{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
left: 900px;
top: 4.2cm;}


.S{
position: absolute;
bottom: 340px;
left: 1310px;

}

#formS{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
left: 920px;
top: 4.2cm;}


.T{
position: absolute;
bottom: 220px;

}

#formT{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
top: 7.4cm;
right: 440px;
}

.U{
position: absolute;
bottom: 220px;
left: 150px;

}
#formU{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
top: 7.4cm;
right: 385px;
}





.W{
position: absolute;

bottom: 220px;
left: 300px;
}

#formW{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
top: 7.4cm;
right: 320px;
}


.X{
position: absolute;

bottom: 220px;
left: 450px;
}

#formX{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
top: 7.4cm;
right: 280px;
}



.Y{
position: absolute;

bottom: 220px;
left: 600px;
}

#formY{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
top: 7.4cm;
right: 215px;
}


.Z{
position: absolute;
bottom: 220px;
left: 750px;

}

#formZ{
width: 80px;
height: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
top: 7.4cm;
right: 155px;
}